.head1 {
    border: solid 4px black;
    text-align: center;
    background-color: white;
    padding: 10px 40px;
    position: relative; left:-10%;
    font-family: 'Congenial SemiBold',sans-serif;
}

.head2 {
  border: solid 4px black;
  text-align: center;
  background-color: white;
  padding: 10px 40px;
  width: 40%;
  position: relative; left:10%;
  
}


div {
    border: solid 3px black;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: black;
    width: 80%;
}

a {
  text-decoration: none;
  color:black;
  font-weight: 900;
  font-size: 110%;
  transition-duration: 1s;
}

a:hover {
  font-size: 150%;
  text-decoration: solid underline blue 2px;
  color: indigo;
}

a:active {
  font-size:250%;
  text-decoration: none;
  color: black;
}
/* test*/

h3:hover {
  transform: rotate(360deg);
  transition-duration: 2s;
  transition-delay: 501ms;
}

body {
    background-image: url('../bilder/fjellogsky.jpg');
    background-repeat: no-repeat;
  }

.kropp {
  position: absolute; top:20px; left:35%;
}

