.signert {
    border: 5px solid #000;
  }
  
  .under {
    border: 3px solid #000;
  }
  
  a {
    text-decoration: none;
    font-size: 80%;
    transition-duration: 2s;
  }
  a:hover {
    color:indigo;
    font-size: 100%;
  }

  .centerDiv {
    text-align: center;
}