.tabell  {border-collapse:collapse;border-spacing:0;}
.tabell td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tabell th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tabell .celle{text-align:left;vertical-align:top}

.tabell { 
    margin-left:25vw;
    margin-top: -15vw;
    background-color: rgb(130, 231, 231);
    border: 3px solid black;
}
body, html {
    font-family: 'Calibi Light', sans-serif;
    height:100%;
    width: 99.8%
}
.bg {
    background-image: url('../bilder/timeplan.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.switch {
    margin-top: 5vw;
    margin-left: 40vw;
}
#skole {
    position: absolute; left:38%; top:10%;
}
.first {
    padding: 10px;
    background-color: white;
    border: black 4px solid;
    border-radius: 32px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.second {
    border: solid 4px black;
    text-align: center; 
    width: fit-content;
    background-color: white;
    text-decoration: none;
    color: black;
}

.hp {
    margin-top: 5vw;
    margin-left: 2vw;
}

.second:hover {
    transform: scale(1.3);
    transition-duration: 1s;
    transition-delay: 200ms;
    font-size: 110%;
}

.nesbru { 
    padding: 10px;
    background-color: lightskyblue;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border:black 4px solid;
    width: max-content;
}

.her {
    text-decoration: underline;
}

#toc_container {
    background: rgb(0, 162, 255) none repeat scroll 0 0;
    border: 2px solid black;
    display: table;
    font-size: 95%;
    padding: 20px;
    width: auto;
    margin-top: 15vw;
    margin-left: 2vw;
}

.toc_title {
    font-weight: bolder;
    text-align: center;
    color:white;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:white;
}

.nesbruelever {
    border: solid 4px black;
    padding: 0.1px;
    width:30vw;
    margin-top: 20vw;
}
.div2 {
    background-image: url('../bilder/vann.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute; top:100%;height: 140%; width: 99%;left:0%;
    border:8px aqua solid;
}

.div3 {
    background-image: url('../bilder/kurtpeace.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute; top:220%;height:100%;width: 99%;left:0%;
    border: solid red 8px;
}

.kurth1 { 
    text-decoration: underline solid red 8px;
    border: 4px solid red;
    padding: 16px;
    background-color: white;
    width: fit-content;
    margin-left: 40vw;
    margin-top: 2vw;
}

.kurtsmile {
    border:red solid 12px;
    margin-top: 1vw;
    margin-left: 10vw;
}

.hearteyes {
    width: 10%; height:20%; 
    margin-left: 2vw;
    margin-bottom: 15vw;
}