html,         body {
    background-image: url('../bilder/ThumbsUPSmiley.png'); 
    background-repeat: no-repeat;
    background-size: fixed;
    margin:0;
    background-size: contain;
    width:100%;
    height:100%;
    background-position: center;
    background-color: cyan;
    font-family: 'Calibi Light', sans-serif;
}
.box {
  border: solid 4px black;
  text-align: center;
  background-color: white;
  width:35%;
  height: fit-content;
  padding: 16px;
  position: absolute; left:29%; top:10%;
}

body:active { 
  background-image: url(../bilder/scaryjpg.jpg);
}
span {
 color:black;
 background-color: yellow;
}
.hl {
 color: #0C71E0;
}
.link1 {
background-color: lightgray;
text-decoration: none;
color:black;
}


.link:hover {
  transform: rotate(2160deg);
  transition-duration: 500ms;
  transition-delay: 500ms;
  text-transform: uppercase;
  }

.link1:hover {
  transform: rotate(2160deg);
  transition-duration: 500ms;
  transition-delay: 500ms;
  text-transform: uppercase;
  text-decoration: none;
  }

.homepage {
  position:absolute; left:80px; top:87%;
  border: solid 4px black;
  text-align: center;
  background-color: white;
  width:fit-content;
  height: fit-content;
  padding: 16px;
  text-decoration: none;
} 
.hp {
  text-decoration: none;
  color:black;
}

a { text-decoration: none;
  transition-duration: 100ms;
}

a:active {
  font-size:50%;
  text-decoration: none;
  color: yellowgreen;
  background-color: none;
}